*, *::before, *::after {
    box-sizing: border-box;
    font-weight: normal;
  }

  body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, rgb(254, 255, 233), rgb(182, 152, 158));
    }

.text-center > button{
    width: 80px;
    height: 80px;

    background-color: rgb(95, 95, 95);
    color: rgb(182, 152, 158);
}